body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1,
p {
    margin: 10px;
}

.instagram-media {
    max-width: 100%;
    overflow: hidden;
}
.instagram-media .e1e1d {
    display: none; /* Hides the caption */
}


#map {
    height: 500px;
    width: 90%;
    margin: auto;
    border: 2px solid #2600ff;
    border-radius: 10px;
}   